* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 12px;
    background-color: lightskyblue;
    background-image: url(https://images4.imagebam.com/47/f5/32/ME4D2JE_o.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
  #navbar {
    height: 70px;
    padding-right: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  #navbar ul li {
    display: inline-block;
  }
  
  #navbar ul li a {
    font-size: 1.2rem;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
  }
  
  #navbar ul li a:hover {
    background: grey;
    color: cyan;
    border-radius: 35px;
    filter: drop-shadow(0 0 15px white);
  }
  
  #welcome-section {
    width: 100vw;
    height: 100vh;
    font-family: 'LetterOMatic!', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images4.imagebam.com/60/c6/ab/ME4CKOQ_o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  #welcome-section h1 {
    text-align: center;
    font-size: 3.5em;
    color: black;
    text-shadow: 3px 1px aqua;
  }
  
  #welcome-section p {
    font-size: 1.75em;
    color: #303030;
    text-shadow: 3px 1px lightgray;
  }
  
  #projects {
    width: 100vw;
    text-align: center;
    padding: 5rem 2rem 5rem;
  }
  
  #projects h2 {
    font-size: 3.5em;
    font-family: deneane, sans-serif;
    color: black;
    text-shadow: 1px 2px aqua;
    border-bottom: 0.2rem solid black;
  }
  
  .projects-header {
    max-width: 45vw;
    margin: 1rem auto 3rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  
  #projects .projects-grid a {
    text-decoration: none;
    color: darkred;
  }
  
  .projects {
    background-color: lightslategray;
    background-image: url(https://images4.imagebam.com/47/ca/ed/ME4D6JE_o.png);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    font-family: deneane, sans-serif;
  }
  
  .project-img {
    height: 18vmax;
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 0.8rem 0.5rem 1.4rem;
  }
  
  #projects a {
    text-decoration: none;
    font-size: 2rem;
  }
  
  .btn-show {
    padding: 15px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
    background-color: lightgray;
    color: darkred;
    border: 2px solid black;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px; 
    cursor: pointer;
  }
  
  .btn-show:hover {
    background: black;
    color: cyan;
    filter: drop-shadow(0 0 15px crimson);
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background-image: url(https://images4.imagebam.com/b6/2a/ec/ME4D33Z_o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .contact-header h2 {
    font-size: 3em;
    font-family: deneane, sans-serif;
    color: crimson;
  }
  
  .contact-header p {
    font-size: 2em;
    color: white;
    padding-bottom: 0.5em;
  }
  
  .contact-links a {
    text-decoration: none;
    color: white;
    font-style: 'Lucida Console', sans-serif;
    font-size: 1.5em;
    padding: 1em;
    line-height: 2em;
  }
  
  .contact-detail:hover {
    font-size: 1.8em;
    font-weight: bold;
    color: crimson;
    filter: drop-shadow(0 0 1rem white);
  }
  
  footer {
    font-size: 1.25em;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: gray;
    color: white;
    border-top: 4px solid crimson;
  }
  
  footer a {
    text-decoration: none;
    color: #1b1b32;
    font-weight: bold;
  }
  
  footer a:hover {
    font-size: 1.5em;
    filter: drop-shadow(0 0 5px white);
  }
  
  @media only screen and (max-width: 600px){
    #navbar ul li a {
      font-size: 1.1rem;
    }
    
    #welcome-section h1 {
      font-size: 2.8em;
    }
  
    #welcome-section p {
      font-size: 1.75em;
    }
  }
  
  @media only screen and (max-width: 400px){
    #navbar ul li a {
      font-size: 0.8rem;
    }
    
    #welcome-section {
      padding-right: 5vw;
    }
    
    #welcome-section h1 {
      font-size: 2.2em;
    }
    
    #welcome-section p {
      font-size: 1.4em;
    }
  }
